* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

article {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

article img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

article .texto {
    flex: 1;
}

@media (max-width: 768px) {
    article {
        flex-direction: column;
        align-items: center;
    }

    article img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.cabecalho {
    background-color: rgb(190, 11, 11);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header img {
    width: 100%;
    height: auto;
    margin-top: 50px; 
}

.midia {
    text-align: center;
    margin: 20px 0;
}

.midia video {
    width: 80%;
    max-width: 600px; 
}

@media (max-width: 768px) {
    .midia {
        display: block; 
    }

    .midia video {
        width: 100%;
        max-width: none; 
    }
}

.rostinho{
    text-align: center;
}